{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
            
            <h3> Top headlines</h3>
             <ul>
                {% for articles in articles %}
                
               <p> <img src="{{ articles.urlToImage }}" alt="" class="img-responsive">{{ articles.name }} urlToImage" </p>
               <h1><a href="{{articles.url}}">{{articles.title}}</a></h1>
                    
                        {{ articles.title|truncate(10)}}
                    
                {% endfor %}
            </ul>
     
 
{% endblock%}